/* The foundational CSS for the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color for the webpage */
body {
    background-color: #d9dcd6;
}

/* Format the webpage header */
header {
    padding: 20px;
	background-color: #2a607c;
    color: #ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* Format the h1 element in the header */
h1 {
	display: inline-block;
	font-size: 48px;
}

/* Custom color within the h1 tag in the header */
.seo {
	color: #d9dcd6;
}

/* Structure for the navigation elements in the header */
ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
	list-style-type: none;
}

/* Inline positioning for the navigation elements in the header */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Format for the navigation elements in the header */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Main image for the webpage */
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
	object-fit: cover;
    object-position: center;
}

/* Space for the main content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style for the sections within the main content */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Images on the left of the sections in the main content */
.float-left {
	max-height: 200px;
	float: left;
    margin-right: 25px;
}

/* Image on the right of the sections in the main content */
.float-right {
	max-height: 200px;
	float: right;
    margin-left: 25px;
}

/* Styling for the headers in the main content */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Text size for the webpage */
p {
    font-size: 16px;
}

/* Space for the additional content on the right side of the page */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style for the sections within the aside content */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling for the headers in the aside content */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for the images in the aside content */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Space for the footer content */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styling for the author text in the footer */
#author {
    font-size: 20px;
	font-weight: bold;
}